* {
    padding: 0px;
    margin: 0px;
}

.homepage-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

article {
    position: relative;
    padding: 5px;
}

article p {
    position: absolute;
    text-align: center;
    width: 300px;
    color: white;
    background-color: black;
    opacity: 0.7;
}

img {
    height: 190px;
    width: 300px;
}

